MYSQL_ENTRYPOINT_INITDB="./mysql/docker-entrypoint-initdb.d"
MYSQL_VOLUME_PATH_HOST="./var/data"
MYSQL_PORT="3306"
LINK_FATEC_DB_PASSWORD="secret"
LINK_FATEC_XDEBUG_PORT="9000"
LINK_FATEC_MINIO_ROOT_USER="admin"
LINK_FATEC_MINIO_ROOT_PASSWORD="secretkey"
LINK_FATEC_MINIO_PORT="9090"
LINK_FATEC_MINIO_PORT_CONSOLE="9091"
LINK_FATEC_RABBIT_WEB_PORT="15672"
LINK_FATEC_RABBIT_PORT="5672"
LINK_FATEC_RABBIT_PASSWORD="password"
LINK_FATEC_RABBIT_USER="user"